<div id="<%= dom_id channel %>">
  <p>
    <strong>Income type:</strong>
    <%= channel.income_type %>
  </p>

  <p>
    <strong>Family:</strong>
    <%= channel.family_id %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= channel.supplier_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= channel.description %>
  </p>

  <p>
    <strong>Crotal:</strong>
    <%= channel.crotal %>
  </p>

  <p>
    <strong>Lot:</strong>
    <%= channel.lot %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= channel.weight %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= channel.temperature %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= channel.cost %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= channel.total %>
  </p>

  <p>
    <strong>Slaughter:</strong>
    <%= channel.slaughter %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= channel.birth %>
  </p>

  <p>
    <strong>User:</strong>
    <%= channel.user_id %>
  </p>

</div>
