<%= form_with(model: quartering) do |form| %>
  <% if quartering.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quartering.errors.count, "error") %> prohibited this quartering from being saved:</h2>

      <ul>
        <% quartering.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :channel_id, style: "display: block" %>
    <%= form.collection_select :channel_id, Channel.all, :id, :lot, { prompt: 'Seleccione el canal'} %>
  </div>

  <div>
    <%= form.label :lot, style: "display: block" %>
    <%= form.text_field :lot %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
