<div id="<%= dom_id quartering %>">
  <p>
    <strong>Channel:</strong>
    <%= quartering.channel_id %>
  </p>

  <p>
    <strong>Lot:</strong>
    <%= quartering.lot %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= quartering.date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quartering.user_id %>
  </p>

</div>
