<div id="<%= dom_id cut %>">
  <p>
    <strong>Piece:</strong>
    <%= cut.piece_id %>
  </p>

  <p>
    <strong>Cut name:</strong>
    <%= cut.cut_name_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= cut.weight %>
  </p>

  <p>
    <strong>Final weight:</strong>
    <%= cut.final_weight %>
  </p>

  <p>
    <strong>Processing type:</strong>
    <%= cut.processing_type %>
  </p>

  <%= link_to 'Madurado', new_mature_cut_path(cut_id: cut.id) %>
  <%= link_to 'Elaborado', new_cut_elaborated_path(cut_id: cut.id) %>
  <%= link_to 'Final', cut_elaborateds_path({ cut: { processing_type: 'FinalCut' } }), data: { 'turbo-method': :patch } %>
</div>
