<%= form_with(model: piece) do |form| %>
  <% if piece.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
        <% piece.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quartering_id, style: "display: block" %>
    <%= form.collection_select :quartering_id, Quartering.order(:lot), :id, :lot, { prompt: 'Seleccione el lote'} %>
  </div>

  <div>
    <%= form.label :piece_name_id, style: "display: block" %>
    <%= form.collection_select :piece_name_id, PieceName.order(:name), :id, :name, { prompt: 'Seleccione el nombre de la pieza'} %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.number_field :weight %>
  </div>

  <div>
    <%= form.label :final_weight, style: "display: block" %>
    <%= form.number_field :final_weight %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
