<div id="<%= dom_id piece %>">
  <p>
    <strong>Quartering:</strong>
    <%= piece.quartering_id %>
  </p>

  <p>
    <strong>Piece name:</strong>
    <%= piece.piece_name_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= piece.weight %>
  </p>

  <p>
    <strong>Final weight:</strong>
    <%= piece.final_weight %>
  </p>

</div>
