<div id="<%= dom_id mature_cut %>">
  <p>
    <strong>Cut:</strong>
    <%= mature_cut.cut_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= mature_cut.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= mature_cut.end_date %>
  </p>

  <p>
    <strong>Final weight:</strong>
    <%= mature_cut.final_weight %>
  </p>

</div>
